main {
    min-height: 1000px;
}

.home-search-box {
    --search-field-height: 60px;
    padding: 40px 20vw 0;
}

.home-search-field {
    position: relative;
    top: calc(var(--search-field-height) / 2);
    height: var(--search-field-height);
}

/* .dropdown:hover .dropdown-menu {
    display: block;
} */

.slogan {
    text-shadow: 1px 1px gray;
}

.text-field:focus{
    box-shadow: none;
}

.title-box {
    width: fit-content;
    block-size: fit-content;
}

img {
    vertical-align: middle;
    border-radius: 5px;
}

.Hover {
    position: absolute;
    background: #fff;
    padding: .5rem;
    width: max-content;
    max-width: 220px;
    border-radius: 5px;
    transform: scale(0);
    transition: 0.25s ease-in-out;
    margin-left: 210px;
    margin-top: -280px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
                rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.Hover-left {
    margin-left: -220px
}

.movie-iteme:hover .Hover {
    display: block;
    transform: scale(1);
}

.movie-iteme i {
    position: absolute;
    font-size: 50px;
    margin-left: 68px;
    margin-top: -240px;
    transform: scale(0);
    transition: 0.25s ease-in-out;
    justify-content: space-between;
    color: #0fc7f5;
}

.movie-iteme:hover i {
    display: block;
    transform: scale(1);
    opacity: 1;
}

.poster {
    background:gray;
    border-radius: 5px;
    width: fit-content;
}

.poster img {
    opacity: 1;
}

.movie-iteme:hover img {
    opacity: .3;
}

.place-holder img {
    width: 70vw;
    height: auto;
}

.des {
    height: 210px;
    overflow-y: scroll;
}

.des::-webkit-scrollbar {
    width: 4px;
}

.des::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 8px;
}

.movie-title {
    white-space: nowrap; 
    width: 190px; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* pagination section*/

.hot-movies-pagi,
.latest-update-pagi,
.watch-list-pagi {
    text-align: center;
    user-select: none;
    margin: 50px;
    z-index: -1;
}

.hot-movies-pagi li,
.latest-update-pagi li,
.watch-list-pagi li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.hot-movies-pagi li a,
.latest-update-pagi li a,
.watch-list-pagi li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page, .next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-5px)
}

.next-page:hover {
    transform: translateX(5px)
}

.current-page, .dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #0AB1CE;
}

.disable {
    background: #ccc;
}

.hot-movie,
.latest-movie,
.favorite-movie {
    height: fit-content;
}