head
    link(rel='stylesheet' href='/style/style4.css')
    script(src="https://kit.fontawesome.com/1de5e0d4fc.js" crossorigin="anonymous")
body
    footer#footer
        .col-item
            .logo
                i.fa-solid.fa-film
                strong Flixtor
            h2.title About us
            p.detail
                |A free movies streaming website. With Flixtor, you can easily find and watch movies for free in high qualty without registration.
        .col-item
            h2.title Address
            ul.detail
                li
                    i.fa-solid.fa-location-dot
                    |   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li
                    i.fa-solid.fa-phone
                    |   0667715080
                li
                    i.fa-solid.fa-envelope
                    |   flixtorweb@gmail.com
        .col-item
            h2.title Follow us
            ul.detail
                li
                    a(href='#')
                        i.fa-brands.fa-facebook
                        |   Facebook
                li
                    a(href='#')
                        i.fa-brands.fa-instagram
                        |   Instagram
            h2.title Donate
            ul.detail
                li.wallet
                    a(href='#')
                        i.fa-brands.fa-paypal
                li.wallet
                    a(href='#')
                        i.fa-brands.fa-cc-visa
                li.wallet
                    a(href='#')
                        i.fa-brands.fa-cc-mastercard