//-link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
//-link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet")
//-script(src="https://kit.fontawesome.com/1de5e0d4fc.js")
//-script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js")


- const genres_col1 = ["Action", "Crime", "Thriller", "Drama", "Comedy", "Biography", "Family", "History", "Music", "Romance", "Western"]
- const genres_col2 = ["Adventure", "Costome", "Horror", "Sci-Fi", "War", "Sport", "Animation", "Fantasy", "Documentary", "Mystery", "Kungfu"]
header.navbar.bg-body-tertiary.navbar-expand-sm(data-bs-theme="dark")
    .container
        a.navbar-brand.p-0(href="/" style="color: var(--bs-teal); font-size: 1.5rem")
            i.fa-solid.fa-film
            |Flixtor
        .navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#headerNav")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#headerNav.justify-content-center
            ul.navbar-nav
                li.nav-item.px-sm-4
                    a.nav-link(href="/") HOME
                li.nav-item.dropdown.px-sm-4
                    a.nav-link(href="#" role="button" data-bs-toggle="dropdown") GENRE
                    .dropdown-menu(style="width: 300px")
                        .row.row-cols-2
                            .col.px-4
                                each genre in genres_col1
                                    a.dropdown-item.px-2.mx-2(href="#")= genre
                            .col.px-4
                                each genre in genres_col2
                                    a.dropdown-item.px-2.mx-2(href="#")= genre
                li.nav-item.px-sm-4
                    a.nav-link(href="/movie") MOVIES
                li.nav-item.px-sm-4
                    a.nav-link.text-nowrap(href="#") TOP IMDB
        if verified
            .dropdown
                button#dropdownMenuButton1.btn.btn-outline-light.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                    | #{user.user_name}
                ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                    li
                        a.dropdown-item(href='/account/profile')
                            i.bi.bi-person-lines-fill
                            |  Profile
                    li
                        a.dropdown-item(href='account/watch_list')
                            i.bi.bi-heart-fill
                            |  Watch List
                    li
                        hr.dropdown-divider
                    li
                        a.dropdown-item(href='/account/signout')
                            i.bi.bi-box-arrow-right
                            |  Sign Out

        else
            a.btn.btn-outline-light(href="/account/signin" role="button")
                |Sign In/ Sign Up


